@import '../../scss/variables';

footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 7rem .5rem 7rem;
    color: #ffffff;
    font-size: 1.7rem;

    @media (min-width: 1401px) {
        padding-left: 15rem;
        padding-right: 15rem;
    }

    @include responsive(tablet) {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 2rem .5rem 2rem;
        text-align: center;
        font-size: 1.3rem;
    }
} 